{% extends 'recruitment_dashboard.html' %}
{% block content %}
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">DataTable</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Resumes</th>
                  
              
                
                </tr>
                </thead>
           {% for i in data %}
                <tr>
                  <td>{{i.image}}</td> 
                  <td></td> 
                </tr>
                {% endfor %}
       
              </table>
            </div>
          </div>
        </section>
        {% endblock %}